.cp_h1title {
	position: relative;
	padding: .3em;
	background: #00ACC1;
	border-radius: 8px;
	color: #ffffff;
}
.cp_h1title:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 20px;
	border: 10px solid transparent;
	border-top: 10px solid #00ACC1;
	width: 0;
	height: 0;
}
body {
	overflow: visible !important;
	background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

ol{
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.5em;
  background: #f5faff;
}
ol li{
  position: relative;
  padding-left: 30px;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
}

ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: #5c9ee7;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align:center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

}
