.cp_h1title {
	position: relative;
	padding: .3em;
	background: #00ACC1;
	border-radius: 8px;
	color: #ffffff;
}
.cp_h1title:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 20px;
	border: 10px solid transparent;
	border-top: 10px solid #00ACC1;
	width: 0;
	height: 0;
}
body {
	overflow: visible !important;
	background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
	background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}
ul{
	background:white;
	color: #668ad8;/*文字色*/
	border: dashed 2px #668ad8;/*破線 太さ 色*/
	background: #f1f8ff; /*背景色*/
	padding: 0.5em 0.5em 0.5em 2em;
}
li{
	line-height: 1.5;
	padding: 0.5em 0;
}
